<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] TaskLoom</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/HeaderStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/InputStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/InfoMessageStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AllProjectsStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/UserProfileStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ProjectStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ProjectSettingsStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/diplom.styles.css" asp-append-version="true" />


    <link rel="stylesheet" href="//maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/css/line-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">

</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>