<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] TaskLoom</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/HeaderStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/InputStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/InfoMessageStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AllProjectsStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/UserProfileStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ProjectStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ProjectSettingsStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ProjectStatisticsStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/diplom.styles.css" asp-append-version="true" />




    <link rel="stylesheet" href="//maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/css/line-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">

</head>
<body>
    <header>
        <a class="site-title" href="/Projects/AllProjects">
            Task<span class="title-part">Loom</span>
        </a>
        <div class="profile-container">
            <div class="info-container-link" id="profile-menu-button">
                <div class="info-container">
                    <span class="user-name">@ViewData["Username"]</span>
                    <div class="icon">
                        <i class="la la-user-circle"></i>
                    </div>
                </div>
            </div>

            <div class="menu hidden" id="profile-menu">
                <a href="/Users/UserProfile" class="dropdown-item">Профиль <i class="las la-id-card"></i></a>
                <a href="/Users/Logout" class="dropdown-item">Выйти <i class="las la-sign-out-alt"></i></a>
            </div>
        </div>
    </header>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const profileMenuButton = document.getElementById("profile-menu-button");
            const profileMenu = document.getElementById("profile-menu");
            profileMenuButton.addEventListener("click", function (event) {
                event.preventDefault();
                profileMenu.classList.toggle("hidden");
            });
            document.addEventListener("click", function (event) {
                if (
                    !profileMenuButton.contains(event.target) &&
                    !profileMenu.contains(event.target)
                ) {
                    profileMenu.classList.add("hidden");
                }
            });
        });
    </script>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>