@{
    Layout = "_Layout";
}

<div class="centered-container">
    <div class="message-container">
        <h2>На почту <strong>@ViewBag.email</strong> отправлено письмо с подтверждением.</h2>
        <p>Пожалуйста, проверьте вашу почту и перейдите по ссылке в письме для активации аккаунта.</p>
    </div>
</div>