@page 
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout_NoHeader";
}
<div class="Input_background">
    <h2>Сброс пароля</h2>
    <div class="Input_window">

        <form asp-action="PasswordRecoveryRequest" asp-controller="Users" class="input" name="form-auth" method="post">

            <label class="input-form__label">
                <span class="input-placeholder">email</span>
                <input class="form__input input-email" type="email" name="Email" autocomplete="off" required >
            </label>

            @if (ViewBag.error != null){
                <div class="input__answer">
                    <p class="text-danger">@ViewBag.error</p>
                </div>
            }

            <input class="input__submit" type="submit" value="Восстановить">

            <div class="input__bottom">
                <a href="/">Вернуться к авторизации</a>
            </div>
        </form>
    </div>
</div>