@page 
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout_NoHeader";
}

<div class="authReg_background">
    <h2>Сброс пароля</h2>
    <div class="authReg_window">

        <form asp-action="PasswordRecovery" asp-controller="Users" class="auth-form" name="form-auth" method="post">
            <input type="hidden" name="token" value="@ViewBag.token" />
            <label class="input-form__label">
                <span class="input-placeholder">пароль</span>
                <input class="form__input input-password" type="password" name="HashPass" autocomlete="off" required">
                <div class="auth-form__toggler">
                    <i class="la la-eye auth-form__icon"></i>
                    <input type="checkbox" class="auth-form__checkbox password-toggler">
                </div>
            </label>

            <label class="input-form__label">
                <span class="input-placeholder">подтверждение пароля</span>
                <input class="form__input input-password" type="password" name="HashPassRepeat" autocomlete="off" required>
                <div class="auth-form__toggler">
                    <i class="la la-eye auth-form__icon"></i>
                    <input type="checkbox" class="auth-form__checkbox password-toggler">
                </div>
            </label>

            @if (ViewBag.error != null){
                <div class="auth-form__answer">
                    <p class="text-danger">@ViewBag.error</p>
                </div>
            }

            <input class="auth-form__submit" type="submit" value="Изменить">

            <div class="auth-form__bottom">
                <a href="/">Вернуться к авторизации</a>
            </div>
        </form>
    </div>
</div>

<div class="hint"></div>
