@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
 
@{
    Layout = "_Layout_NoHeader";
}
<div class="Input_background">
    <h2 class="input__title">Регистрация</h2>
    <div class="Input_window">

        <form asp-action="Create" asp-controller="Users" class="input" name="form-auth" method="post">

            <label class="input-form__label">
                <span class="input-placeholder">имя</span>
                <input class="form__input input-name" name="FName" autocomplete="off" required>
            </label>

            <label class="input-form__label">
                <span class="input-placeholder">фамилия</span>
                <input class="form__input input-name" name="LName" autocomplete="off" required>
            </label>

            <label class="input-form__label">
                <span class="input-placeholder">email</span>
                <input class="form__input input-email" type="email" name="Email" autocomplete="off" required>
            </label>


            <label class="input-form__label">
                <span class="input-placeholder">пароль</span>
                <input class="form__input input-password" type="password" name="HashPass" autocomlete="off" required>
                <div class="input__toggler">
                    <i class="la la-eye input__icon"></i>
                    <input type="checkbox" class="input__checkbox password-toggler">
                </div>
            </label>

            @if (ViewBag.error != null)
            {
                <div class="input__answer">
                    <p class="text-danger">@ViewBag.error</p>
                </div>
            }

            <button class="input__submit"> Зарегистрироваться <i class="las la-user-check"></i></button>

            <div class="input__bottom">
                <span>У вас уже есть аккаунт?</span>
                <a href="/">Войти</a>
            </div>
        </form>

    </div>
</div>


