@{
    Layout = "_Layout_NoHeader";
}

<div class="centered-container">
    <div class="message-container">
        <h2>Почта <strong>@ViewBag.email</strong> не найдена.</h2>
        <p>Пожалуйста, проверьте корректность введеного адреса и попробуйте снова.</p>
        <div class="button-a">
            <a href="Registration" class="input__submit">
                Регистрация
                <i class="las la-user-check"></i>
            </a>
        </div>
    </div>
</div>