@{
    Layout = "_Layout";
}

<div class="centered-container">
    <div class="message-container">
        <h2>Почта <strong>@ViewBag.email</strong> не найдена.</h2>
        <p>Пожалуйста, проверьте корректность введеного адреса и попробуйте снова.</p>
        <a href="Registration">Регистрация</a>
    </div>
</div>