.site-title {
    font-size: 34px;
    color: #314ad5;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
}

.title-part {
    color: #40a7f2;
}

.info-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
}

.info-container-link {
    text-decoration: none;
    color: #333;
}

    .info-container-link :hover {
        color: #60a7e7;
    }

.user-name {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.icon {
    font-size: 35px;
}