.main-window {
    height: 100vh;
    display: flex;
    flex-direction: column; 
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #444;
}

.add-board-button {
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #ccc;
    height: 50px;
    border-radius: 10px;
    background: transparent;
    color: #ccc;
    outline: none;
    padding: 10px 15px;
}

    .add-board-button:hover {
        background: #fff;
        border: 2px solid #fff;
        color: #232323;
    }

.profile-icon {
    font-size: 50px;
    cursor: pointer;
    color: darkgrey;
}
    .profile-icon:hover {
       color: white; 
    }

.board-list {
    flex-grow: 1;
    margin-top: 20px;
    overflow-y: auto;
    background: #2a2a2a;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.board-item {
    text-decoration: none;
    color: #ccc;
    width: 350px;
    height: 200px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
}

    .board-item:hover {
        color: #ccc;
        background: rgba(255, 255, 255, 0.3);
        border: none;
        color: #ccc;
        font-weight: bolder;
    }

.jquery-modal .modal {
    position: fixed;
    top: 30%;
    left: 38%;
    width: 350px;
    height: 175px;
    background: #39393a;
    padding-top: 30px;
}

.modal a.close-modal {
    top: 1%;
    right: 1%;
    display: block;
    width: 25px;
}
.button-link {
    text-decoration: none;
    color: black;
}