.Input_background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f9f9f9;
}

.Input_window {
    box-sizing: border-box;
    padding: 29px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media all and (min-width: 380px) {
    .Input_window {
        padding: 49px 79px 29px;
        min-width: 400px;
    }
}

.input {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}

.input__toggler,
.input__icon,
.input__checkbox {
    position: absolute;
    width: 18px;
    height: 18px;
}
.input-form__label {
    margin-bottom: 40px;
    position: relative;
}

.input-placeholder {
    position: absolute;
    color: #aaa;
    cursor: text;
    font-size: 16px;
    top: 9px;
    transition: all 0.2s;
    white-space: nowrap;
    padding-left: 5px;
}

.form__input {
    position: relative;
    width: 100%;
    height: 40px;
    background: transparent;
    color: #57606a;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    border: none;
    box-shadow: 0 1px 0 0 #666;
}

.add-project .form__textarea {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 5px;
    background: transparent;
    color: #57606a;
    /*box-sizing: border-box;*/
    font-size: 16px;
    /*outline: none;*/
    border: 1px solid #000000;
    border-radius: 10px;
    resize: none;
    box-shadow: none;
    /*line-height: 1.5;*/
    /*overflow-y: auto;*/
}

.input-select {
    appearance: none;
    background: transparent;
    color: #57606a;
    width: 100%;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.2s;
    box-shadow: none;
    padding: 5px;
}

.input__toggler {
    cursor: pointer;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
}

.input__icon {
    color: #aaa;
}

.input__toggler:hover .input__icon {
    color: #666;
}

.password-toggler {
    opacity: 0;
}

.input__submit {
    cursor: pointer;
    height: 50px;
    border-radius: 10px;
    background: #40a7f2;
    color: #ffffff;
    border: 2px solid #40a7f2;
    outline: none;
    font-weight: bold;
    transition: all 0.3s ease;
    white-space: nowrap;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0 20px;
}

    .input__submit:hover {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        background-color: #314ad5;
        border-color: #314ad5;
        color: #ffffff;
    }
    .input__submit i {
        font-size: 25px;
    }
.mini{
    border-radius: 30px;
}
.cancel {
    background: #b35a00;
    border-color: #b35a00;
}

    .cancel:hover {
        background: #b33900;
        border-color: #b33900;
    }
.confirm {
    background: #2ca840;
    border-color: #2ca840;
}

    .confirm:hover {
        background: #188229;
        border-color: #188229;
    }

.input__bottom {
    margin-top: 20px;
    font-size: 12px;
    color: #666;
    text-align: center;
}

.input__bottom a {
    color: #007bff;
}

.input__bottom

.input__bottom a:hover {
    color: #0056b3;
}

.button-a {
    display: flex;
    gap: 10px;
    text-align: center;

    justify-content: center;
}

    .button-a a {
        display: flex;
        align-items: center;
        padding: 15px 20px;
        outline: none;
        text-decoration: none;
        gap: 8px;
    }

.input__link {
    color: #007bff;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}
.input__answer {
    max-width: 250px;
    word-wrap: break-word;
    color: #333;
}

.text-danger {
    text-align: center;
    font-size: small;
    color: #dc3545;
    font-weight:600;
}