@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

* {
    margin: 0;
}

html,
body {
    min-height: 100vh;
}

body {
    background: #f9f9f9;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
}
.container {
    max-width: 90%
}
.text-success {
    color: #28a745;
}

.text-danger {
    color: #dc3545;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 3px solid #ddd;
    background: #f9f9f9;
}

h1 {
    font-size: 24px;
    color: #333;
}

.jquery-modal .modal {
    position: fixed;
    margin: 20px 0;
    left: 35%;
    width: auto;
    height: auto;
    padding: 30px 45px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.modal a.close-modal {
    top: 1%;
    right: 1%;
    display: block;
    width: 25px;
}
.input-form__label {
    margin-bottom: 40px;
    position: relative;
}

.input-placeholder {
    position: absolute;
    color: #aaa;
    cursor: text;
    font-size: 16px;
    top: 9px;
    transition: all 0.2s;
}

    .input-placeholder.focus {
        top: -12px;
        font-size: 12px;
    }

.form__input {
    position: relative;
    width: 100%;
    height: 40px;
    background: transparent;
    color: #57606a;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    border: none;
    box-shadow: 0 1px 0 0 #666;
}

    .form__input.focus {
        border-color: #007bff;
    }

.add-project .form__textarea {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 5px;
    background: transparent;
    color: #57606a;
    /*box-sizing: border-box;*/
    font-size: 16px;
    /*outline: none;*/
    border: 1px solid #000000;
    border-radius: 10px;
    resize: none;
    box-shadow: none;
    /*line-height: 1.5;*/
    /*overflow-y: auto;*/
}

.input-select {
    appearance: none;
    background: transparent;
    color: #57606a;
    width: 100%;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.2s;
    box-shadow: none;
    padding: 5px;
}

.jquery-modal .modal.delete {
    position: fixed;
    top: 35%;
    left: 38%;
    width: 350px;
    height: 175px;
    background: #ffffff;
    padding-top: 30px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close-button {
    top: 1%;
    right: 1%;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAAXNSR0IArs4c6QAAA3hJREFUaAXlm8+K00Acx7MiCIJH/yw+gA9g25O49SL4AO3Bp1jw5NvktC+wF88qevK4BU97EmzxUBCEolK/n5
}
