.hidden {
    display: none;
}

.profile-view {
    margin: 10px 0px;
}

    .profile-view p {
        font-size: 16px;
        color: #57606a;
        margin-bottom: 10px;
    }


.profile-background {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f9f9f9;
    padding-top: 5%;
}

.profile-window {
    box-sizing: border-box;
    padding: 25px 15px;
    margin-top: 0.5%;
    margin-bottom: 5%;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;

    display: flex;
    flex-direction: column;
}

.profile-section {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}
    .profile-section .input-form__label {
        margin-bottom: 25px;
    }
        .profile-section .last {
            margin-bottom: 5px;
        }
    

.section-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 25px;
    border-bottom: 2px solid #ddd;
    font-weight: bold;
    text-align: center;
    padding-bottom:2px;
}
.profile-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    letter-spacing: 1px;
    margin-bottom:30px;
}
    .profile-form .input__submit {
        margin: auto;
    }
.profile__error {
    word-wrap: break-word;
    color: #333;
}
.profile-edit {
}
#edit-button{
    margin:auto;
}

.text-danger {
    text-align: center;
    font-size: small;
    color: #dc3545;
}
.update-pass{
    width:300px;
}